auto backplane1
iface backplane1 inet static
  address {{ network.backplane1.address }}
  mtu 9000
  pre-up ip l set {{ network.interface.premier }} up
  pre-up ip l set {{ network.interface.premier }} mtu 9000
  pre-up sysctl -w net.ipv6.conf.{{ network.interface.premier }}.disable_ipv6=1
{% if bond %}
  pre-up ip l set {{ network.interface.secondary }} up
  pre-up ip l set {{ network.interface.secondary }} mtu 9000
  pre-up sysctl -w net.ipv6.conf.{{ network.interface.secondary }}.disable_ipv6=1
{% endif %}
  pre-up ovs-vsctl --may-exist add-br backplane1
{% if bond %}
  pre-up ovs-vsctl --may-exist add-bond backplane1 bond-backplane1 {{ network.interface.premier }} {{ network.interface.secondary }} bond_mode=balance-tcp lacp=active
{% else %}
  pre-up ovs-vsctl --may-exist add-port backplane1 {{ network.interface.premier }}
{% endif %}
  pre-up ovs-vsctl set port backplane1 tag={{ network.backplane1.vlan }}
  post-up tc qdisc replace dev backplane1 root fq
